    /* estilos normales en la pantalla principal y en el navbar */
    *{
      margin: 0;
      pad: 0;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(255, 255, 255);
      
  }
  
  body{
      background-color: rgb(241, 237, 237)
      
  }
  
  .Navhome{
      background-color: #040242;
      margin-top: 20px;
      
  }

  .logo{
    height: 120px;
  }


  .BarrainiciarSesion {
      list-style: none;

  }

  .carrito{
      height: 33%;
      width: auto;
  }
  .imagenCarro {
      height: 40px;
      width: auto;
  }

  .subtitulo{
      background-color: #c8c4f5;
      border: 3px;
      display: flex;
      color: black;
  }

  .iconoHome{
      height: 40px;
  }


  .Categoria{
      float: left;
      width: 25%;
  }

  .Wrapped{
      float: left;
      width: 75%;
  }

  
  .dropdown-content {
    display: none;
    background-color: #0b212e;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(216, 0, 0, 0.884);
    z-index: 1;
    text-align: center;
  }

  .dropdown-content2 {
    display: none;
    background-color: #0b212e;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(5, 247, 5, 0.884);
    z-index: 1;
    text-align: center;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropdown-content2 {
    display: block;
  }


    


  /* Estilo de la pantalla de breadcrumb de la izquierda */
  
  
  .breadcrumb {
      display: none;
  }
    
  @media only screen and (min-width: 500px) {
      .breadcrumb {
        display: block;
        background-color: #010024;
        padding: 8px;
  }
      
  .breadcrumb ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
      
  .breadcrumb ol {
    display: inline-block;
    margin-right: 8px;
    white-space: nowrap;
  }
  
  .breadcrumb ol:last-child {
    margin-right: 0;
  }
  
  .breadcrumb a {
    color: #333;
    text-decoration: none;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }
  }
    
  /* modificar lado derecho del Wrapped */

  /* #carouselExampleInterval {
    height: 100vh; Altura deseada para el carrusel 
    width: auto;
    left: auto;
  }
  
  .carousel-inner {
    width: 75vw;  75% del ancho de la ventana 
    height: 75vh; 75% del alto de la ventana 
    overflow: hidden;
    margin: 0 auto;
  } */
  /* error no encontrado en el carrusel ... Trabajaremos en arreglarlo en futuras actualizaciones */

  @media (min-width: 375px) { /* hecho para el iPhone 12 Pro */
    .carousel-inner {
      height: calc(100vh - 80px);
    }
  }
  


  /* modificar el dinal de la pagina */
  .nav-footer {
    margin-top: 20px; /* Margen superior del footer */
    background-color: black;

  }